{% extends "base.html" %}

{% block content %}
  <h2>new post</h2>
  <a href='/blog'>Cancel</a>
    <form method="post">
      <div class = "row">
        <label>
          <div>subject</div>
          <input type="text" name="subject" value="{{subject}}">
        </label>
      </div>

      <div class="row">
        <label>
          <div>blog</div>
          <textarea name="content">{{content}}</textarea>
        </label>
      </div>

      <div class="error">{{error}}</div>

      <div class="row">
        <input type="submit">
      </div>
    </form>
{% endblock %}
