<div class="post">
    <div class="row post-heading">
      <div class="post-title col-xs-12 col-sm-6">
        {{p.subject}}
      </div>

      <div class="likes-count col-xs-12 col-sm-6">
         Likes = {{p.num_likes}}
      </div>
      
    </div>

    <div class = "row">
      <div class="delete-post-buttons col-xs-12 col-sm-6">
        <a href="/blog/editpost?post_user_id={{p.user_id}}&post_id={{p.key().id()}}">Edit</a>
        |
        <a href="/blog/deletepost?post_user_id={{p.user_id}}&post_id={{p.key().id()}}">Delete</a>
      </div>

      <div class="like-buttons col-xs-12 col-sm-6">
        <a href='/blog/like?post_user_id={{p.user_id}}&post_id={{p.key().id()}}'>Like</a>
        |
        <a href='/blog/unlike?post_user_id={{p.user_id}}&post_id={{p.key().id()}}'>Unlike</a>
      </div>
    </div>

  <div class="row">
    <div class="post-content">
      {{p._render_text | safe}}
    </div>
  </div>

  <div class = "row">
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class = "row">
      <div class = "new-comment-link">
    <a href='/blog/newcomment?post_user_id={{p.user_id}}&post_id={{p.key().id()}}'>New Comment</a>
      </div>
  </div>

</div>
