@media screen and (max-width: 768px) {
  #logo {
    min-width: 50px;
    width: 100%;
  }
  #title h1 {
    font-size: 24px;
    }
  #title h3 {
    font-size: 20px;
    }
  #bodyPhoto {
    padding-left: 2px;
    padding-right: 2px;
    }
  #featuredWorkTitle h1 {
    font-size: 24px;
  }
  #projects figcaption {
    font-size:18px;
  }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #logo {
    width: 100%;
    max-width: 150px;
  }
  #title h1 {
    font-size: 36px;
    }
  #title h3 {
    font-size: 30px;
    }
  #bodyPhoto {
    padding-left: 1%;
    padding-right: 1%;
    }
  #featuredWorkTitle h1 {
    font-size: 36px;
  }
  #projects figcaption {
    font-size:30px;
  }
  #projects figcaption a p {
    font-size:24px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  #logo {
    width: 100%;
    max-width: 150px;
  }
  #title h1 {
    font-size: 48px;
    }
  #title h3 {
    font-size: 36px;
    }
  #bodyPhoto {
    padding-left: 1%;
    padding-right: 1%;
    }
  #featuredWorkTitle h1 {
    font-size: 36px;
  }
  #projects figcaption {
    font-size:46px;
  }
  #projects figcaption a p {
    font-size:28px;
  }
}

@media screen and (min-width: 1201px) {
  #logo {
    width: 150px;
  }
  #title h1 {
    font-size: 60px;
    line-height: 80%
    }
  #title h3 {
    font-size: 48px;
    line-height: 80%;
    }
  #bodyPhoto {
    padding-left: 1%;
    padding-right: 1%;
  }
  #featuredWorkTitle h1 {
    font-size: 60px;
  }
  #projects figcaption {
    font-size:48px;
  }
  #projects figcaption a p {
    font-size:30px;
  }
}


body {
  font-family: 'Share Tech Mono', monospace;
}

header{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: solid;
}

#logo {
  padding-top: 5px;
}

#title {
  text-align: right;
  vertical-align: bottom;
}

#title h1 {
  line-height: 50%;
}

#title h3 {
  line-height: 50%;
}

#bodyPhoto {
  padding-top: 10px;
  width: 100%;
}

#featuredWorkTitle {
  padding-left: 2%;
}

#projects {
}

#projects figure {
  text-align: center;
  width: 100%;
}

#projects figure figcaption {
  text-align: center;
}
