.page-body {
  font-family: 'Share Tech Mono', monospace;
}

.title-bar {
  padding: 2%;
  border-bottom: solid;
}

.logo {
  padding-top: 5px;
  min-width: 50px;
}

.title {
  text-align: right;
  vertical-align: bottom;
}

.title-h1 {
  line-height: 50%;
}

.title-h3 {
  line-height: 50%;
}

.body-photo {
  padding-top: 10px;
  margin: auto;
}

.featuredWorkTitle {
  padding-left: 2%;
}

.projects-figure {
  padding-top: 2%;
  display: block;
}

.projects-figcaption {
  line-height: 60%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title-h1 {
    font-size: 24px;
    }
  .title-h3 {
    font-size: 20px;
    }
  .featured-work-title-h1 {
    font-size: 24px;
  }
  .projects-figcaption-h3 {
    font-size:24px;
  }
  .projects-figcaption-a-p {
    font-size:18px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .title-h1 {
    font-size: 36px;
    }
  .title-h3 {
    font-size: 30px;
    }
  .featured-work-title-h1 {
    font-size: 36px;
  }
  .projects-figcaption-h3 {
    font-size:36px;
  }
  .projects-figcaption-a-p {
    font-size:24px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .title-h1 {
    font-size: 48px;
    }
  .title-h3 {
    font-size: 36px;
    }
  .featured-work-title-h1 {
    font-size: 36px;
  }
  .projects-figcaption-h3 {
    font-size:40px;
  }
  .projects-figcaption-a-p {
    font-size:30px;
  }
}

@media screen and (min-width: 1201px) {
  .title-h1 {
    font-size: 60px;
    }
  .title-h3 {
    font-size: 48px;
    line-height: 80%;
    }
  .featured-work-title-h1 {
    font-size: 60px;
  }
  .projects-figcaption-h3 {
    font-size:48px;
  }
  .projects-figcaption-a-p {
    font-size:36px;
  }
}
